$modalDialogMargin: 30px;
$modalDialogHeaderHeight: 56px;
$modalDialogFooterHeight: 64px;

$dividersColor: #e5e5e5;

.clickable{
  cursor: pointer;
}
/* Modal window stretched to max height body */
.modal-dialog.full-height{
  height: calc(100% - #{$modalDialogMargin * 2});

  .modal-content{
    height: 100%;

    .modal-body{
      height: calc(100% - #{$modalDialogHeaderHeight + $modalDialogFooterHeight});
      overflow: auto;
    }
  }
}

.unpadding{
  padding: 0;
}

.scrolled{
  overflow: auto;
}

.container-fluid.full-height{
  &, & > .row, & > .row > div, .row.full-height, .row.full-height > div{
      height: 100%;
  }
}

.row.divided-columns{
  & > div:not(:last-child) {
    border-right: 1px solid $dividersColor;
  }
  & > div{
    padding: 15px;
  }
}

.vcentered{
  display: block;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}


.empty-content-label{
  font-size: large;
  color: $lightTextColor;

  .glyphicon{
    vertical-align: text-top;
  }
}

.interactiveList{
  .row{
    padding: 10px 5px;
    border-bottom: 1px solid $dividersColor;

    &:first-child{
      border-top: 1px solid $dividersColor;
    }

    &.clickable:hover, &.clickable div:hover, &.active{
      background-color: $dividersColor;
    }
  }

}
