@mixin deviceAdaptiveClass($viewSize) {
  @if $viewSize == xs {
    @media (max-width: 767px) { @content; }
  }

  @else if $viewSize == sm {
    @media (min-width: 768px) { @content; }
  }

  @else if $viewSize == md {
    @media (min-width: 992px) { @content; }
  }

  @else if $viewSize == lg {
    @media (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

@mixin deviceAdaptiveClassGroup($class) {
  .#{$class}-xs{
    @include deviceAdaptiveClass(xs) {
      @content;
    };
  }
}
