$projectsListHeaderRowHeight: 39px;
#projectManager{
  #projectsListRow{
    height: calc(100% - #{$projectsListHeaderRowHeight});

    .empty-content-label{
      top: calc(50% - #{$projectsListHeaderRowHeight / 2});
    }

  }

  .panel-head-row{
    margin-bottom: 10px;

    .panel-title{
      line-height: 30px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .project-form-xs{
    @include deviceAdaptiveClass(xs) {
      height: auto!important;
      border-bottom: 1px solid $dividersColor;
      min-height: 50px;

      .vcentered{
        position: static;
        transform: none;
      }
    }
  }

  .interactiveList{
    .project-name {
      line-height: 33px;
    }
  }
}
